@model IEnumerable<VuXuanQuang.Models.LopHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lớp Học</h2>

<p>
    @Html.ActionLink("Thêm Dữ Liệu", "Create")
</p>
<table class="table">
    <tr>
        <th>
           <label>Mã Lớp</label>
        </th>
        <th>
            <label>Tên Lớp</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaLop)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TenLop)
    </td>
    <td>
        @Html.ActionLink("Sửa", "Edit", new { id = item.MaLop }) |
        @Html.ActionLink("Xóa", "Delete", new { id = item.MaLop })
    </td>
</tr>
}

</table>
